


<form action="/prueba" method="POST">
    <input id="nom" type="text" name="nombre">
    <button  type="submit" >Enviar</button>
</form>


<div>
    {{#with testUser}}
    <h1> Hola {{name}} {{apellido}} mundo</h1>
    {{/with}}
</div>
<div>
    <ul>
        {{#each arreglo}}
        <li>{{nombre1}} {{apellido1}} {{edad}}</li>
        {{/each}}
    </ul>
    
</div>

<p>Productos</p>
<div id="productosActualizados">
       
        
        

</div>



<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>



