


<form action="/prueba" method="POST">
    <input id="nom" type="text" name="nombre">
    <button  type="submit" >Enviar</button>
</form>


<div>
    {{#with testUser}}
    <h1> Hola {{name}} {{apellido}} mundo</h1>
    {{/with}}
</div>
<div>
    <ul>
        {{#each arreglo}}
        <li>{{nombre1}} {{apellido1}} {{edad}}</li>
        {{/each}}
    </ul>
    
</div>

<p>Productos</p>
<div>
       
        {{#each products}}
        <div id="{{id}}" class="title" style="display: flex;">
                <div class="category">Categoria {{category}}</div>
                <div class="name"> Producto:  {{name}}</div>
                <div class="description">Descripcion: {{Descripcion}}</div>
                <div class="price"> Precio: {{price}}</div> 
                <div class="stock">Stock:{{stock}}</div>
        </div>         
        {{/each}}
        

</div>



