
<p>Productos</p>
<div>
       
        {{#each products}}
        <div class="title" style="display: flex;">
                <div class="category">Categoria {{category}}</div>
                <div class="name"> Producto:  {{name}}</div>
                <div class="description">Descripcion: {{Descripcion}}</div>
                <div class="price"> Precio: {{price}}</div> 
                <div class="stock">Stock:{{stock}}</div>
        </div>         
        {{/each}}
        

</div>